body {
  text-align: center;
}
header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
form#search {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
form#search > fieldset {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
form#search > fieldset > * {
  display: inline-block;
}
form#search > fieldset > div {
  width: 25%;
}
form#search > fieldset > input {
  width: 74%;
}
table {
  display: inline-block;
  text-align: center;
}
table > tbody > tr:nth-child(odd) {
  background-color: lightgrey;
}
table > tbody > tr > * {
  padding: 5px;
}
